.banner {
    max-height: 25%;
}

.podcast-wrapper {
    background-color: #060606;
}

.podcast-wrapper h1 {
    color: cornflowerblue;
    font-family: "Dosis", serif;
}

.pod-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.pod-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
}

.pod-card img {
    width: 100%;
    border-radius: 8px;
}

.pod-card-details {
    margin-top: 10px;
    color: cornflowerblue;
    font-family: "Dosis", serif;
}

.pod-card-details h3 {
    font-size: 1.2rem;
    color: cornflowerblue;
    font-family: "Dosis", serif;
}

.pod-card-details p {
    font-size: 1rem;
    color: cornflowerblue;
    font-family: "Dosis", serif;
    /* Add style for collapse functionality */
    max-height: 30px; /* Adjust this value to control the initial display height */
    overflow: hidden;
}

/* Style for the dropdown arrow icon */
.pod-card-details .expand-icon {
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    color: cornflowerblue;
}

.podcast-foot-wrapper {
    position: relative;
}
.podcast-inner-footer {
    margin-bottom: 200px;
    background-color: #06060600;
}

.podcast-footer {
    position: fixed;
    bottom: 0;
    z-index: -1;
    height: 200px;
    width: 100%;
    background-color: rgb(11, 11, 12);
    display: flex;
    align-items: center;
}
